/* Location.css */

.bg-primary {
    background-color: #111111;
  }
  
  .bg-secondary {
    background-color: #202123;
  }
  
  .bg-tertiary {
    background-color: #DBDBDB;
  }
  
  .text-white {
    color: #FFFFFF;
  }
  
  .text-primary {
    color: #2FAFBF;
  }
  
  .font-Inter {
    font-family: 'Inter', sans-serif;
  }
  
  /* Adjust positioning for the elements */
  .absolute {
    position: absolute;
  }
  
  .top-0 {
    top: 0;
  }
  
  .right-0 {
    right: 0;
  }
  
  .bottom-0 {
    bottom: 0;
  }
  
  .left-0 {
    left: 0;
  }
  
  .mt-4 {
    margin-top: 4px;
  }
  
  .mr-8 {
    margin-right: 8px;
  }
  
  .mb-8 {
    margin-bottom: 8px;
  }
  
  .ml-8 {
    margin-left: 8px;
  }
  
  .p-60-80-42-88 {
    padding: 60px 80px 42.5px 88.5px;
  }
  
  /* Add more classes if needed */
  