.footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 88.5px;
    font-size: 10px;
    box-sizing: border-box;
}

.footer-left {
    display: flex;
    align-items: center;
}

.footer-right {
    display: flex;
    align-items: center;
}

.footer-link {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.footer-link:hover {
    text-decoration: underline;
}
